
{% extends "base.html" %}

{% block title %} Exhibiciones {% endblock %}

{% block content %}

<h1>Exhibiciones de artistas realizadas en Mayab</h1>

<p> 
    texto sobre mayab como espacio para exhibiciones. <br>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, adipisci ex. Ullam eligendi deserunt vel voluptatum voluptate ad temporibus, quis qui incidunt repellendus amet blanditiis tenetur perferendis! Debitis, harum aliquid.
</p>

<hr>

{% if exhibiciones %}
    
    {% for exhibicion in exhibiciones %}

        <ol>Nombre de exhibición: {{exhibicion.Nombre}}</ol>

    {% endfor %}

{% else %}
    <p>Sin exhibiciones aún</p>
{% endif %}

{% endblock %}